@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.8)),url(images/cyber.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    font-family: 'Hina Mincho', serif;
    display: flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;
    font-size: 15px;
}

nav img{
     margin-bottom: 1%;
    width: 70px;
}
nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;/*no bullt point */
    display: inline-block;/* make the nav list in one line*/
    padding: 5px 12px;/*  1st argument pad from top, 2nd padd btween */
    position:relative;/* not on top of each other*/
  
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;   
}

body{
 background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,9,30,0.75)),url(images/hi.jpg);
  background-size: cover;
  height: auto;
  font-family: 'Roboto';
}


.container{/*MAKE THE WHITE BOX*/
  max-width: 800px;
  height: 700px;
  background: #fff;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 40px;
}

p{
  text-align: center;
  letter-spacing: 1px;  
  font-size: 45px;
  margin-bottom: 20px;
  color: #003c68;
}

.input,
.msg .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.login .input{
  width: 48%;
  float: left;
  margin-right: 4%;
}



.msg .area{
  height: 200px;
}

.btn{
  width: 250px;
  background: #003c68;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
    margin-left: 230px
}





